
:root {
    --backgroundColor: purple;
    --textColor: white;
};

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
    border: solid  2px red;
    padding: 0px 10px 0px;
}

main {
    margin-top: 65px;
}

.questionContainer {
    text-align: center;
}

.instructions {
    text-align: center;
    margin-top: 32px;
}

button {
    margin-top: 20px;
    border-radius: 5px;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    padding: 5px;
    
}

.instructions {
    border: solid 2px red;
    padding: 20px;
}
 

ul {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

.buttonContainer{
    text-align: center;
}